# Byte-compiled / optimized / DLL files in pycache folder
__pycache__/
*.pyc

# folder with previous versions of code
older_versions/
# folder with save data
measurement_data/

# saved data files
*.cvs
# saved configuration files
*.ini
